<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    PharmCAT Report{{#if title}} [{{title}}]{{/if}}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html {
      font-size: 16px;
    }
    body {
      font-weight: 300;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      line-height: 1.5;
      font-size: 1rem;
      font-family: "Museo Sans W01 Rounded",Arial,Helvetica,sans-serif;
      color: rgb(25, 31, 42);
      background-color: #FEFEFE;
      margin: 0 auto;
      max-width: 70em;
      padding: 1em 1em;
    }
    header {
      overflow: auto;
      margin-bottom: 1em;
    }
    h1, h2, h3, h4 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    a, h1, h2, h3, h4, h5, h6 {
      color: #3e4c6c;
    }
    h1 {
      font-size: 2em;
      font-weight: 100;
    }
    h2, h3, h4 {
      font-weight: 300;
    }
    h2 {
      font-size: 1.8em;
    }
    h3 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.2em;
    }
    p {
      margin-top: 0;
      margin-bottom: 1em;
    }
    section {
      margin-bottom: 2.5rem;
    }
    table, ul {
      margin-bottom: 1.5rem;
    }
    table {
      min-width: 100%;
      border-collapse: collapse;
      border-color: grey;
      font-size: 0.9rem;
    }
    td, th {
      border: 1px solid rgba(62, 76, 108, 0.1);
      max-width: 600px;
      word-wrap: break-word;
      padding: 1em 1.3em;
    }
    hr {
      margin-bottom: 2em;
    }
    section.gene, section.guideline {
      margin-bottom: 4em;
      border-top: 1px solid #DDD;
    }

    .alert {
      margin: 1em 0;
      padding: 0.6em;
      border-radius: 4px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    .alert-info {
      background-color: #d9edf7;
      border-color: #bce8f1;
      color: #3a87ad;
    }
    .alert-warning {
      background-color: #fcf8e3;
      border-color: #faebcc;
      color: #8a6d3b;
    }
    .alert-danger {
      background-color: #EAD6D5;
      border-color: #EFDFDE;
      color: #7C3A37;
    }
    .alert-danger h4 {
      color: #7C3A37;
      font-weight: bold;
    }

    .drugName {
      white-space: nowrap;
    }

    .drugName a:link, .drugName a:visited {
      color: darkgreen;
    }

    .normal {
      color: darkgreen;
    }

    .rxChange a:link, .rxChange a:visited {
      color: darkred;
      font-weight: bold;
    }

    .rxChange {
      color: darkred;
    }

    .rxPossibly a:link, .rxPossibly a:visited {
      color: darkorange;
      font-weight: bold;
    }

    .rxPossibly {
      color: darkorange;
    }

    .highlightDrug a:link, .highlightDrug a:visited {
      color: #3a87ad;
      font-weight: bold;
    }

    .highlight {
      color: #3a87ad;
    }

    td.missingVariant {
      background-color: lightsalmon;
    }

    .geneCall {
      font-size: 1.2em;
    }

    .footnote {
      padding: .5em 3em;
      font-style: italic;
      font-size: .8em;
    }

    #liability {
      font-size: 1.2em;
      color: darkred;
    }

    .image {
      text-align: center;
    }
    .image img {
      width: 80%;
      height: auto;
    }

    @media print {
      html {
        font-size: 8px;
      }

      a {
        text-decoration: none;
      }

      img, pre, blockquote, table, figure, p {
        page-break-inside: avoid;
      }
    }
  </style>

</head>

<body>

<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<h1>PharmCAT Report</h1>

{{#if title}} <p>{{title}}</p>{{/if}}

<div class="alert alert-danger">
  <h4>Pre-release software - For code testing only</h4>
  This software has not been officially released. You should only be using this software to evaluate whether the PharmCAT
  executable will compile and run properly on your system. The content of the reporting is not yet complete so <strong>results
  will change</strong>. The user recognizes they are using PharmCAT at their own risk.
</div>

<section>
  <h2>Sections</h2>
  <ol type="I">
    <li><a href="#genotypes">Diplotype / Genotype Summary</a></li>
    <li><a href="#guidelines">CPIC Recommendations</a></li>
    <li><a href="#genes">Allele Call Details</a></li>
    <li><a href="#disclaimer">Disclaimers</a></li>
  </ol>
</section>

<section id="genotypes">
  <h2>Diplotype / Genotype Summary</h2>

  <p>Genotypes called: {{calledGenes}} / {{totalGenes}} </p>

  <table>
    <thead>
    <tr>
      <th>Drugs <sup><a href="#genotypes-a">a</a></sup></th>
      <th>Gene</th>
      <th>Diplotype or Genotype</th>
      <th>Allele Functionality <sup><a href="#genotypes-b">b</a></sup></th>
      <th>Phenotype <sup><a href="#genotypes-b">b</a></sup></th>
      <th>Uncallable Alleles <sup><a href="#genotypes-c">c</a></sup></th>
    </tr>
    </thead>
    <tbody>
    {{#each genotypes}}
      <tr>
        <td>{{#each drugs}}
          {{{drug this}}}
        {{/each}}</td>
        <td>
          <a href="#{{gene}}">{{gene}}</a>{{#if hasMessages}}<sup>&dagger;</sup>{{/if}}
        </td>
        <td>
          {{#each calls}}
            <div>{{this}}</div>
          {{/each}}
        </td>
        <td>
          {{#each functions}}
            <div>{{this}}</div>
          {{/each}}
        </td>
        <td>
          {{#each phenotype}}
            <div style="white-space: nowrap">{{this}}</div>
          {{/each}}
        </td>
        <td>
          {{#if called}}{{yesno uncallableAlleles}}{{/if}}
          {{#unless called}}N/A{{/unless}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <div class="footnote" id="genotypes-a">
    <sup>a</sup> The drugs highlighted in red indicate a CPIC recommendation prescribing change based on the person’s listed diplotype/genotype (highlighting is not based on CPIC strength of recommendation). See CPIC recommendation section for the classification of the recommendation and further details. Orange indicates possible changes depending on additional information and warfarin and peginterferon alpha/ribavirin are highlighted in blue, see CPIC recommendation section for details. The drug is highlighted when multiple diplotypes are presented if any is assocated with a prescribing change. Please see recommendation section for detailed information.
  </div>
  <div class="footnote" id="genotypes-b">
    <sup>b</sup> Allele functionality and phenotype terms are based on the <a href="https://cpicpgx.org/wp-content/uploads/2016/01/CPIC_term_standardization_project_final_terms.pdf">CPIC term standardization</a> project, <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=27441996">PMID:27441996</a>. Guidelines published prior use the term 'extensive' instead of 'normal' metabolizer. CYP2C19*1/*17 is now classified as rapid metabolizer. Guidelines published prior group CYP2C19*1/*17 together with *17/*17 as ultrarapid metabolizer.
  </div>
  <div class="footnote" id="genotypes-c">
    <sup>c</sup> Indicates alleles not considered for the diplotype calls due to missing variant information, please see Allele calls section. Alleles that could not be considered due to missing input might change the metabolizer phenotype and possible CPIC recommendation.
  </div>
  <div class="footnote">
    <sup>&dagger;</sup> Check the allele call details for this gene for more details about this call.
  </div>
  <div class="footnote">
    For a full list of disclaimers and limitations see the <a href="#disclaimer">Disclaimer section</a>.
  </div>
</section>

<section id="guidelines">
  <h2>CPIC Recommendations</h2>

  {{#each guidelines}}
    <section class="guideline">
      <h3 id="{{id}}">{{drugs}}</h3>

      <section>
        {{{summary}}}

        <p>The official guideline can be found on the <a href="https://cpicpgx.org">CPIC website</a>.</p>
      </section>

      {{#if incidental}}
        <div class="alert alert-warning">
          Variant is included in CPIC supplemental table of variants recommended by the American College of Medical
          Genetics (ACMG) that should be tested to determine carrier status as a part of population screening programs.
        </div>
      {{/if}}

      <section>
        {{#each geneCalls}}
          <div class="geneCall"><a href="#{{gene}}">{{gene}}: {{diplotypes}}</a>{{#if astrolabe}} (from Astrolabe){{/if}}</div>
        {{/each}}
      </section>

      {{#if multiMatch}}
        <div class="alert alert-info"><strong>Note:</strong> More than one call was made for the applicable gene so multiple annotation groups could be shown</div>
      {{/if}}

      <section>
        {{#each messages}}
          <div class="alert alert-info">{{{this}}}</div>
        {{/each}}
      </section>

      {{#unless reportable}}
        <div class="alert alert-info">No genotypes matched for {{uncalledGenes}} so annotations cannot be shown.</div>
      {{/unless}}
      {{#if reportable}}
        {{#unless matched}}
          <div class="alert alert-warning">No CPIC recommendation for this allele combination.</div>
        {{/unless}}
      {{/if}}

      {{#if image}}
        <div class="image"><img src="{{image/url}}" alt="{{image/altText}}"/></div>
      {{/if}}

      {{#if matched}}
        {{#each groups}}
          <table>
            <thead>
            <tr><th>Type</th><th>Annotation</th></tr>
            </thead>
            <tbody>
            {{#each annotations}}
              <tr><td>{{term}}</td><td>{{{annotation}}}</td></tr>
            {{/each}}
            </tbody>
          </table>
        {{/each}}
      {{/if}}

      <section>
        {{#each footnotes}}
          <div class="footnote">{{this}}</div>
        {{/each}}
      </section>

      <section>
        <p>For more information see the <a href="{{url}}">annotation on PharmGKB</a>.</p>
        {{#if citations}}
          <p>Citations:</p>
          <ul>
            {{#each citations}}
              <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}">{{title}}</a> [PMID:{{pmid}}] <em>{{journal}}</em>. {{year}}.</li>
            {{/each}}
          </ul>
        {{/if}}
      </section>
    </section>
  {{/each}}
</section>

<section id="genes">
  <h2>Allele Call Details</h2>

  {{#each geneCalls}}
    <section class="gene">
      <h3 id="{{gene}}">{{gene}}</h3>

      <h4>Genotype</h4>
      <ul>
        {{#each diplotypes}}
          <li>{{this}}</li>
        {{/each}}
      </ul>

      {{#if hasUncalledHaps}}
        <h4>Alleles Not Considered</h4>
        <p>The following alleles are not considered due to {{totalMissingVariants}} missing positions of the total {{totalVariants}} positions: {{uncalledHaps}}</p>
        <p>Carriage of these alleles might result in a different metabolizer phenotype and different guideline recommendations.</p>
      {{/if}}

      {{#if astrolabe}}
        <div class="alert alert-info">The call for {{gene}} comes from Astrolabe data which does not supply position-level detail.</div>
      {{/if}}

      {{#if variantsUnspecified}}
        <div class="alert alert-info">No variant data available.</div>
      {{/if}}

      {{#if incidental}}
        <div class="alert alert-warning">
          Variant is included in CPIC supplemental table of variants recommended by the American College of Medical
          Genetics (ACMG) that should be tested to determine carrier status as a part of population screening programs.
        </div>
      {{/if}}

      {{#each messages}}
        <div class="alert alert-warning">{{{this}}}</div>
      {{/each}}

      {{#unless variantsUnspecified}}
        <h4>Calls at Positions</h4>
        <table>
          <thead>
          <tr>
            <th>Position</th>
            <th>RSID</th>
            <th>Call</th>
            <th>Related Alleles</th>
          </tr>
          </thead>
          <tbody>
          {{#each variants}}
            <tr>
              <td>{{position}}</td>
              <td>{{dbSnpId}}</td>
              {{#if missing}}
                <td class="missingVariant"><em>missing</em></td>
              {{/if}}
              {{#unless missing}}
                <td>{{call}}</td>
              {{/unless}}
              <td>
                {{#each alleles}}{{this}} {{/each}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/unless}}
    </section>
  {{/each}}
</section>

<section id="disclaimer">
  <h2>Disclaimers and Other Information</h2>

  <p id="liability">Liability:  PhamCAT assumes no responsibility for any injury to person or damage to persons or property arising out of, or related to any use of PharmCAT, or for any errors or omissions. The user recognizes that PharmCAT is a research tool and that they are using PharmCAT at their own risk.</p>

  <h3>A. Allele and Genotype/Diplotype Determination</h3>
  <ol type="i">
    <li>PharmCAT uses <a href="https://www.pharmgkb.org/page/pgxGeneRef">gene allele definitions from CPIC</a>, with exceptions as noted in <a href="https://docs.google.com/document/d/1X9Kl5gKLGvQfMY3nYbto0D3R4ZoBrR6mIYQiqMhFSbY/edit?usp=sharing">Gene Definition Exceptions document</a>.  For allele definitions and the positions used in PharmCAT, see the <a href="https://github.com/PharmGKB/PharmCAT/releases">gene definition tables</a>.</li>
    <li>PharmCAT results are dependent on the supplied vcf calls for the queried positions (for technical information about PharmCAT input formatting and requirements, please go to <a href="http://pharmcat.org/">pharmcat.org</a>). PharmCAT does not assume any reference calls for positions missing from the submitted vcf; all missing queried positions are not considered in the allele determination process. See the <a href="https://github.com/PharmGKB/PharmCAT/releases">gene definition tables</a> for more information about what positions are queried in the vcf.  Missing positions might alter the assigned diplotype/genotype, subsequent phenotype prediction and CPIC recommendation. If the supplied vcf is missing positions, those positions will be noted in Section 3: Allele Calls for each gene of this report.  For the most reliable allele determination, reference calls as well as variant calls in the vcf for every queried position must be provided by the user.</li>
    <li>For cytochrome P450 genes, TPMT, DPYD, and SLCO1B1, the *1 allele is defined by the absence of variation specified in the gene definition tables. This allele cannot be identified by variants; rather, *1 is assigned by default when no variation for the queried positions is reported in the submitted vcf. It is always possible un-interrogated variation can occur which could potentially affect allele function, but because it is undetected, the assignment would be defaulted to a *1 allele and normal function.</li>
    <li>For all genes, variation reported in the vcf but NOT included in the gene definition table will not be considered during allele assignment.  There is a possibility that any such variation results in a reduced or no activity allele which could lead to inaccurate phenotype and CPIC recommendation, similar to the situation in point iii, above.</li>
    <li>PharmCAT matches variants to diplotypes using unphased data (unless phased data is provided in the vcf and noted as such, see <a href="http://pharmcat.org/">pharmcat.org</a> for details). The assumption is that defined alleles exist in trans configuration, i.e. on opposite chromosomes, with exceptions noted in Section 3: Allele Calls under “Gene-specific warnings.”  However, in cases where an an allele is defined by a combination of two or more variants, where each variant alone also defines an allele, the match is based on the longer allele. For example, CYP2C19*4A is defined one SNP, *17 is defined by another SNP, and *4B is defined by the combination of those two SNPs.  In the case of unphased data that is heterozygous for both SNPs, the *1/*4B diplotype is returned though the possibility of *4A/*17 cannot be ruled out.</li>
    <li>Nucleotide base calls are displayed on the positive chromosomal strand regardless of the gene strand; further information is provided under Gene-specific warnings in Section 3: Allele Calls.</li>
  </ol>

  <h3>B. CPIC Allele Function, Phenotype and Recommendation</h3>
  <ol type="i">
    <li>
      Allele functionality and phenotype terms are based on the <a href="https://cpicpgx.org/wp-content/uploads/2016/01/CPIC_term_standardization_project_final_terms.pdf">CPIC Term Standardization Project</a> [PMID: 27441996].  Please see this reference for details but note the following changes from original CPIC guidelines based on this project:
      <ol type="a">
        <li>This terminology replaces the term ‘extensive’ metabolizer with ‘normal’ metabolizer for drug metabolizing enzymes such as CYPs, DPYD, TPMT, UGT1A1. Guidelines published prior to this recommendation used the term ‘extensive’ metabolizer whereas the PharmCAT report uses ‘normal’.</li>
        <li>The terminology introduces the use of the term ‘rapid’ metabolizer for CYP2C19*1/*17 to distinguish between *1/*17  and *17/*17 (‘ultrarapid’ metabolizer). CYP2C19 *1/*17 was grouped as ‘ultrarapid’ metabolizer in prior guidelines. PharmCAT uses the ‘rapid’ metabolizer group.</li>
        <li>PharmCAT uses allele functions from <a href="https://www.pharmgkb.org/page/pgxGeneRef">gene information tables</a>, including alleles with ‘possible’ or ‘likely’ added to the function term.</li>
      </ol>
    </li>
    <li>PharmCAT uses metabolizer phenotypes from <a href="https://www.pharmgkb.org/page/pgxGeneRef">gene information tables</a>. ‘Likely’ or ‘possible’ metabolizer phenotypes are originally based on supplemental materials for respective guidelines and are listed in the gene “Diplotype-Phenotype Table.”</li>
    <li>PharmCAT uses recommendation wording as provided in the CPIC guideline. CPIC typically provides the same recommendations for ‘likely’ or ‘possible’ metabolizer phenotypes in supplemental and <a href="https://www.pharmgkb.org/page/pgxGeneRef">gene information tables</a> as those without the ‘likely’ or ‘possible’ labels, but do not provide a strength of therapeutic recommendation.</li>
  </ol>

  <h3>C. CYP2D6 Allele Determination and Metabolizer Status</h3>
  <ol type="i">
    <li>CYP2D6 diplotypes are based on <a href="http://www.childrensmercy.org/Health_Care_Professionals/Research/Pediatric_Genomic_Medicine/Software_Tools/">Astrolabe</a> calls. For specific disclaimers and limitations, see the <a href="http://www.childrensmercy.org/Health_Care_Professionals/Research/Pediatric_Genomic_Medicine/Software_Tools/">Astrolabe</a> documentation and specifications made available with the product.</li>
    <li>Metabolizer Status: CPIC classifies diplotypes with a gene activity score of 1.0 as normal metabolizers; however, other guidelines or reference laboratories may classify the same diplotypes as intermediate metabolizers.</li>
  </ol>

  <h3>D. Prescribing Change Designations</h3>
  <ol type="i">
    <li>
      The drugs in Section 1: Diplotype/Genotype summary table are colored to indicate whether CPIC recommends a prescribing change based on the given diplotype; highlighting is not based on CPIC classification of recommendation.
      <ol type="a">
        <li><span class="rxChange"><i class="fa fa-times"></i> Red</span> indicates a prescribing change is recommended for the given diplotype. That is, the recommendation is different than ‘use label recommendation’ or ‘use recommended starting dose’, except for ivacaftor.</li>
        <li><span class="rxPossibly"><i class="fa fa-warning"></i> Orange</span> indicates possible prescribing changes depending on additional information, e.g. pediatrics vs. adult, or the specific number of CYP2D6 normal alleles present (copy number).</li>
        <li><span class="normal"><i class="fa fa-circle"></i> Green</span> indicates that there is no CPIC recommended prescribing change for the given diplotype, except for ivacaftor.</li>
        <li><span class="highlight"><i class="fa fa-square"></i> Blue</span> indicates the specific guideline must be consulted because a CPIC recommended action cannot be provided based solely on diplotype (eg. warfarin and ribavirin/peginterferon).</li>
      </ol>
    </li>
    <li>When multiple diplotypes are possible for a gene, the drug is highlighted according to the highest level of prescribing change.</li>
  </ol>

  <h3>E. PharmCAT Exceptions to the CPIC Guideline Gene List</h3>
  <ol type="i">
    <li>HLA-B and G6PD are currently not included in PharmCAT (as of March 2017). Therefore, no CPIC guideline recommendations are included for these genes.</li>
    <li>Further genes will be incorporated into PharmCAT as the tool is developed.</li>
  </ol>

  <h3>F. PharmCAT Updates</h3>
  <ol type="i">
    <li>PharmCAT monitors publication of new CPIC guidelines and guideline updates. New publication content will be included into PharmCAT within one month of CPIC publication.</li>
    <li>Updates to the gene definition tables may occur, the latest version can be found alongside <a href="https://github.com/PharmGKB/PharmCAT/releases">the software releases</a>.</li>
    <li>Updates to PharmCAT may occur, for the latest version go to the <a href="https://github.com/PharmGKB/PharmCAT/releases">PharmCAT release page</a>.</li>
  </ol>

  <h3>G. CPIC Guideline Disclaimers and Caveats</h3>
  <ol type="i">
    <li>
      A version of the following quoted disclaimer is part of each CPIC guideline and applies to the CPIC recommendations as used in PharmCAT. For the full description of potential benefits and risks, additional considerations (general and specific to gene-drug pairs), limitations, information about respective gene nomenclature systems, potential drug-drug interactions and clinical factors to consider, please see individual CPIC guidelines (<a href="https://cpicpgx.org">cpicpgx.org</a>).
      <ol type="a">
        <li>“CPIC guidelines reflect expert consensus based on clinical evidence and peer-reviewed literature available at the time they are written and are intended only to assist clinicians in decision making and to identify questions for further research. New evidence may have emerged since the time a guideline was submitted for publication. Guidelines are limited in scope and are not applicable to interventions or diseases not specifically identified. Guidelines do not account for all individual variations among patients and cannot be considered inclusive of all proper methods of care or exclusive of other treatments. It remains the responsibility of the health-care provider to determine the best course of treatment for a patient. Adherence to any guidelines is voluntary, with the ultimate determination regarding its application to be made solely by the clinician and the patient. CPIC assumes no responsibility for any injury to persons or damage to persons or property arising out of or related to any use of CPIC’s guidelines, or for any errors or omissions.”  (PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/27997040">27997040</a>)</li>
        <li>“Caveats: appropriate use and/or potential misuse of genetic tests. The application of genotype-based dosing is most appropriate when initiating therapy with a tricyclic. Obtaining a pharmacogenetic test after months of drug therapy may be less helpful in some instances, as the drug dose may have already been adjusted based on plasma concentrations, response, or side effects. Similar to all diagnostic tests, genetic tests are one of several pieces of clinical information that should be considered before initiating drug therapy.” (PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/27997040">27997040</a>)</li>
      </ol>
    </li>
    <li>CPIC guidelines reflect the alleles/genotypes known and considered by the guideline authors for inclusion by the time of publication, however they may be updated online at <a href="https://cpicpgx.org">cpicpgx.org</a> in between publications. Additional alleles and/or more extensive allele definitions might exist by the representative gene nomenclatures for various genes.</li>
    <li>CPIC is a registered service mark of the U.S. Department of Health & Human Services (HHS).</li>
  </ol>

  <h3>H. PharmGKB Disclaimers and Caveats</h3>
  <ol type="i">
    <li>PharmGKB is a registered service mark of the U.S. Department of Health & Human Services (HHS).</li>
  </ol>
</section>

</body>
</html>
