<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    PharmCAT Report{{#if title}} [{{title}}]{{/if}}
  </title>

  {{> "header"}}

</head>
<body>
<!--[if lt IE 9]>
<div class="browserUpgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
<header class="pageHeader">
  <div class="title">
    PharmCAT Report
    {{#if title}}<div class="subtitle">{{title}}</div>{{/if}}
  </div>
  <div class="metadata">
    <table>
      <tr><th>Date created</th><td>{{timestamp}}</td></tr>
      <tr><th>PharmCAT Version</th><td>{{pharmcatVersion}}</td></tr>
      <tr><th>Data Version</th><td>{{dataVersion}}</td></tr>
    </table>
  </div>
</header>
<main>
  <section>
    <h2>Sections</h2>
    <ol type="I">
      <li><a href="#section-i">Genotype Summary</a></li>
      <li><a href="#section-ii">Prescribing Recommendations</a></li>
      <li><a href="#section-iii">Allele Matching Details</a></li>
      <li><a href="#disclaimer">Disclaimers</a></li>
    </ol>

    <div class="alert alert-info">
      <em>Disclaimer:</em> PharmCAT is only able to generate recommendations based on the information provided to the
      software. The gene and variant information for all reported sections are interpreted directly from user-supplied data.
      The user recognizes they are using PharmCAT at their own risk. For a full list of disclaimers and limitations see
      <a href="#disclaimer">Section IV</a>.
    </div>
  </section>


  <section id="section-i">
    <h2>Section I: Genotype Summary</h2>

    {{#unless (thereAre summaries)}}
      {{#if (thereAre uncallableGenes)}}
        <p>
          No genotypes called.
        </p>
        {{> uncallableGenesNote }}
      {{/if}}
      {{#unless (thereAre uncallableGenes)}}
        <p>
          No data provided.
        </p>
      {{/unless}}
      <p>
        For a full list of disclaimers and limitations, see <a href="#disclaimer">Section IV</a>.
      </p>
    {{/unless}}
    {{#if (thereAre summaries) }}
      <p>Genotypes called: {{calledGenes}} / {{totalGenes}} </p>

      <table class="genotypeSummary">
        <thead>
        <tr>
          <th>Drugs</th>
          <th>Gene</th>
          <th>
            Genotypes
            <table class="diplotype table-small">
              <tbody>
              <tr>
                <td>Genotype</td>
                <td>Allele Functionality</td>
                <td>Phenotype</td>
              </tr>
              </tbody>
            </table>
          </th>
        </tr>
        </thead>
        <tbody>
        {{#each summaries}}
          <tr class="top-aligned gs-{{{sanitizeCssSelector symbol}}}">
            <td>
              {{#each relatedDrugs}}
                <div class="drugName">
                  {{#if (contains ../../drugsWithRecommendations this) }}
                    <a href="#{{{sanitizeCssSelector this}}}">{{this}}</a>
                  {{/if}}
                </div>
              {{/each}}
            </td>
            <td>
              <span class="noWrap">
                <a href="#{{{sanitizeCssSelector symbol}}}" class="normalWrap">{{symbol}}</a>
                {{#if hasMessages}}<sup><a href="#genotypes-dagger">&dagger;</a></sup>{{/if}}
                {{#if showUnphasedNote}}<sup><a href="#genotypes-ddagger">&ddagger;</a></sup>{{/if}}
              </span>
            </td>
            <td>
              <table class="diplotype">
                <tbody>
                {{#if showComponents}}
                  {{#with diplotypes}}
                    <tr class="lowestFunctionDiplotype gs-dip_lowestFunction">
                      <td colspan="3"><b>{{{gsCall this ../homozygousComponentHaplotypes}}}</b></td>
                    </tr>
                  {{/with}}
                  {{#each componentDiplotypes}}
                    <tr class="top-aligned gs-dip_component">
                      <td>{{{gsCall this ../homozygousComponentHaplotypes}}}</td>
                      <td>{{gsFunction}}</td>
                      <td>{{gsPhenotype}}</td>
                    </tr>
                  {{/each}}
                {{else}}
                  <!-- standard diplotype -->
                  {{#each diplotypes}}
                    <tr class="top-aligned gs-dip">
                      <td>{{{gsCall this ../homozygousComponentHaplotypes}}}</td>
                      <td>{{gsFunction}}</td>
                      <td>{{gsPhenotype}}</td>
                    </tr>
                  {{/each}}
                {{/if}}
                </tbody>
              </table>
              {{#if hasMissingVariants}}
                <p class="tdNote">
                  Genotype{{#if (moreThanOne diplotypes) }}s{{/if}} based on missing variant input <sup><a href="#genotypes-star">*</a></sup>.
                </p>
              {{/if}}
              {{#if treatUndocumentedVariationsAsReference}}
                <p class="tdNote" id="gs-undocVarAsRef-{{{sanitizeCssSelector symbol}}}">
                  There are genetic variations in this gene that do not match what is in the allele definition.
                  <b>These undocumented variations were replaced with reference.</b>
                  See <a href="#{{{sanitizeCssSelector symbol}}}">Section III</a> for details.
                </p>
              {{/if}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>

      {{#if (thereAre uncallableGenes)}}
        <div class="alert alert-warning">
          {{> uncallableGenesNote }}
        </div>
      {{/if}}

      {{#if hasMissingVariants}}
        <div class="footnote" id="genotypes-star">
          <sup>*</sup> Some alleles were not considered for the genotype calls due to missing variant information.
          Please see <a href="#section-iii">Section III</a> for details. Alleles that could not be considered due to
          missing input might change the metabolizer phenotype and possible recommendation.
        </div>
      {{/if}}
      {{#if hasMessages}}
        <div class="footnote" id="genotypes-dagger">
          <sup>&dagger;</sup> Check <a href="#section-iii">Section III</a> for more details about this call.
        </div>
      {{/if}}
      {{#if hasUnphasedNote}}
        <div class="footnote" id="genotypes-ddagger">
          <sup>&ddagger;</sup> PharmCAT reports the genotype(s) that receive the highest score during the matcher process.
          In case of unphased data, additional genotypes might be possible and cannot be ruled out.
        </div>
      {{/if}}
      <div class="footnote">
        CPIC terms for allele function and phenotype are used for all CPIC genes. For non-CPIC genes, DPWG terms are used.
      </div>
      <div class="footnote">
        For a full list of disclaimers and limitations see <a href="#disclaimer">Section IV</a>.
      </div>

      {{#if hasCombo}}
        <div class="alert alert-info">
          Partial and combination allele calls are based on the variants identified in the VCF file. Matches to different
          star allele definitions or star allele with additional position combinations are connected by a '+', which
          represents combinations in a single gene copy per allele and does NOT indicate gene duplications.
        </div>
      {{/if}}
      {{#each summaryMessages}}
        <div class="alert alert-info {{messageClass this}}">{{message}}</div>
      {{/each}}
    {{/if}}
  </section>


  <section id="section-ii">
    <h2>Section II: Prescribing Recommendations</h2>

    {{#unless (thereAre recommendations)}}
      <p class="rx-no-recs">
        No recommendations.
      </p>
    {{else}}
      {{#each recommendations}}
        <section class="guideline {{{sanitizeCssSelector drug}}}">
          <h3 id="{{{sanitizeCssSelector drug}}}">{{drug}}</h3>



          {{#each messages}}
            <div class="alert alert-info {{messageClass this}}">{{{message}}}</div>
          {{/each}}

          <table>
            <thead>
            <tr>
              <th>Source</th>
              <th>Genes</th>
              <th>Implications</th>
              <th>Recommendation</th>
              <th>Classification</th>
            </tr>
            </thead>
            <tbody>
            {{#each reports}}
              {{#if matched}}
                {{#each guidelines}}
                  {{#each annotations}}
                    <tr class="top-aligned {{{rxAnnotationClass source drug}}}">
                      <td>
                        <p>
                          <b><a href="{{url}}" target="_blank">{{sourceValue source ../name}}</a></b>
                        </p>
                        <p>{{{populationValue source population}}}</p>
                        {{#unless (rxIsCpicWarfarin drug source)}}
                          {{{annotationTags this}}}
                        {{/unless}}
                      </td>
                      <td>
                        <div class="hint">{{pluralize "Genotype" genotypes}}</div>
                        <ul class="{{#if (moreThanOne genotypes) }}noPadding{{else}}noBullet{{/if}} mt-0">
                          {{#each genotypes}}
                            <li>
                              <span class="noWrap">
                                {{{rxGenotype this ../this ../../this noDataGenes}}}
                                {{#if (rxInferred this)}}<sup><a href="#rx-dagger-{{../../../drug}}" title="Inferred">&dagger;</a></sup>{{/if}}
                                {{#if (rxDpydInferred this)}}<sup><a href="#rx-ddagger-{{../../../drug}}" title="Inferred">&ddagger;</a></sup>{{/if}}
                              </span>
                              {{{rxGenotypeDebug this ../../this noDataGenes}}}
                            </li>
                          {{/each}}
                        </ul>
                        {{#if (thereAre phenotypes)}}
                          <div class="hint">{{pluralize "Phenotype" phenotypes}}</div>
                          {{{printRecMap phenotypes "rx-phenotype"}}}
                        {{/if}}
                        {{#if (thereAre activityScores)}}
                          <div class="hint">{{pluralize "Activity Score" activityScores}}</div>
                          {{{printRecMap activityScores "rx-activity"}}}
                        {{/if}}
                      </td>
                    {{#if (rxIsCpicWarfarin drug source)}}
                        <td colspan="4">
                          {{#each (rxAnnotationMessages this) }}
                            <div class="alert alert-info {{messageClass this}}">{{{message}}}</div>
                          {{/each}}
                          <div class="warfarinFlowchart">
                            <img src="https://files.cpicpgx.org/images/warfarin/warfarin_recommendation_diagram.png"
                                alt="Figure 2 from the CPIC guideline for warfarin"/>
                          </div>
                        </td>
                    {{else}}
                        <td>{{{rxImplications implications}}}</td>
                        <td class="drugRecommendation">
                          {{{drugRecommendation}}}
                          {{#if ../fda}}<a href="#rx-ast-{{../../../drug}}" style="text-decoration: none">&ast;</a>{{/if}}
                        </td>
                        <td>{{capitalizeNA classification}}</td>
                    {{/if}}
                  {{/each}}
                {{/each}}
              {{else}}
                <tr class="top-aligned {{{rxAnnotationClass source drug}}}">
                  <td class="top-aligned">
                    <p>
                      <b>{{source.displayName}}</b>
                      {{#unless notCalled}}
                        <sup class="sources">
                          {{{listSources urls}}}
                        </sup>
                      {{/unless}}
                    </p>
                  </td>
                  {{#if notCalled}}
                    <td colspan="5" class="top-aligned">
                      <span class="rx-no-call">
                        {{#if (thereAre uncalledGenes) }}
                          No call data for {{uncalledGenes}}
                        {{else}}
                          No call data provided
                        {{/if}}
                      </span>.
                    </td>
                  {{else}}
                    <td class="top-aligned">
                      <div class="hint">{{pluralize "Genotype" unmatchedDiplotypes}}</div>
                      {{{rxUnmatchedDiplotypes unmatchedDiplotypes guidelines noDataGenes}}}
                      {{#if unmatchedInferred}}<sup><a href="#rx-dagger-{{../../../drug}}" title="Inferred">&dagger;</a></sup>{{/if}}
                      {{#if unmatchedDpydInferred}}<sup><a href="#rx-ddagger-{{../../../drug}}" title="Inferred">&ddagger;</a></sup>{{/if}}
                    </td>
                    <td colspan="4" class="top-aligned">
                      <div class="hint">&nbsp;</div>
                      {{source.displayName}} provides no genotype-based recommendations for this genotype, after evaluating the evidence.
                    </td>
                  {{/if}}
                </tr>
              {{/if}}
            {{/each}}
            </tbody>
          </table>

          {{#if hasInferred}}
            <div class="footnote" id="rx-dagger-{{drug}}">
              <sup>&dagger;</sup> Inferred genotype used to look up phenotype. Consult the
              {{{externalHref "https://pharmcat.org/methods/Gene-Definition-Exceptions/" "PharmCAT documentation"}}}
              for details.
            </div>
          {{/if}}
          {{#if hasDpydInferred}}
            <div class="footnote" id="rx-ddagger-{{drug}}">
              <sup>&ddagger;</sup> The DPYD genotype used to look up phenotype is inferred from the two lowest function
              haplotypes. Consult the
              {{{externalHref "https://pharmcat.org/methods/Gene-Definition-Exceptions/#dpyd" "PharmCAT documentation"}}}
              for details.
            </div>
          {{/if}}
          {{#if fda}}
            <div class="footnote" id="rx-ast-{{drug}}">
              <sup>&ast;</sup> Text in quotation is taken directly from the FDA Label or FDA PGx Association table. For
              a label PDF with highlighted PGx content use the link in the Source column or go to
              <a href="https://www.pharmgkb.org/fda">PharmGKB</a>.
            </div>
          {{/if}}

          {{#each footnotes}}
            <div class="footnote {{messageClass this}}">{{message}}</div>
          {{/each}}

          {{#if (thereAre citations)}}
            <div class="citations">
              <p>Citations:</p>
              <ul>
                {{#each citations}}
                  <li>{{{printCitation this}}}</li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        </section>
      {{/each}}
    {{/unless}}

    {{#if (thereAre drugsWithoutRecommendations)}}
      <div>
        <h3>Drugs With No Guidance</h3>
        <p>The following drugs are known to be associated with genes in this report but have no guidance for the
          specific genotypes in this report. For more information, see the
          <a href="https://www.pharmgkb.org/prescribingInfo">"Prescribing Info" page on PharmGKB</a>.</p>
        <ul>
          {{#each drugsWithoutRecommendations}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </section>


  <section id="section-iii">
    <h2>Section III: Allele Matching Details</h2>

    {{#if (thereAre geneReports)}}
      <ol>
        {{#each geneReports}}
          <li><a href="#{{{sanitizeCssSelector geneDisplay}}}">{{geneDisplay}} allele match data</a></li>
        {{/each}}
      </ol>
    {{/if}}
    {{#if (thereAre noDataGenes) }}
      {{{amdNoDataMessage noDataGenes}}}
    {{/if}}


    {{#each geneReports}}
      <section class="gene {{{sanitizeCssSelector geneDisplay}}}">
        <h3 id="{{{sanitizeCssSelector geneDisplay}}}">{{geneDisplay}} allele match data</h3>

        {{#if (amdNoCall)}}
          <div class="alert alert-warning no-data">
            {{amdGeneCall this}}.
          </div>
        {{else}}
          <table>
            <tbody>
            <tr>
              <th style="width: 12em;">{{amdSubtitle this}}:</th>
              <td class="top-aligned genotype-result">
                {{#if (amdIsSingleCall this) }}
                  {{amdGeneCall this}}
                {{else}}
                  <ul class="noPadding mt-0">
                    {{#each (amdGeneCalls this) }}
                      <li>{{this}}</li>
                    {{/each}}
                  </ul>
                {{/if}}

                {{#if treatUndocumentedVariationsAsReference}}
                  <p class="tdNote">
                    There are genetic variations in this gene that do not match what is in the allele definition.
                    <b>These undocumented variations were replaced with reference.</b>  See below for details.
                  </p>
                {{/if}}
              </td>
            </tr>
            {{#if (thereAre variantReports)}}
              <tr>
                <th>Phasing Status:</th>
                <td class="top-aligned">
                  <p>
                    {{amdPhaseStatus this}}
                  </p>
                  {{#if (amdShowUnphasedNote this) }}
                    <p>
                      PharmCAT reports the genotype(s) that receive the highest score during the matcher process. In
                      case of unphased data, additional genotypes might be possible and cannot be ruled out.
                    </p>
                  {{/if}}
                </td>
              </tr>
            {{/if}}
            {{#if (amdHasUncalledHaps this) }}
              <tr>
                <th>Alleles Not Considered:</th>
                <td class="top-aligned">
                  <p>
                    The following alleles are not considered due to {{amdTotalMissingVariants this}} missing positions
                    of the total {{amdTotalVariants this}} positions: {{amdUncalledHaps this}}
                  </p>
                  <p>
                    Carriage of these alleles might result in a different phenotype and different guideline recommendations.
                  </p>
                </td>
              </tr>
            {{/if}}
            </tbody>
          </table>
        {{/if}}

        {{#each (amdMessages this) }}
          <div class="alert alert-warning {{messageClass this}}">{{{messageMessage this}}}</div>
        {{/each}}

        {{#unless (amdNoCall) }}
          {{#if (thereAre variantReports)}}
            <h4>Calls at Positions</h4>
            <table>
              <thead>
              <tr>
                <th>Position in VCF</th>
                <th>RSID</th>
                <th>Call in VCF</th>
                <th>Reference</th>
                <th>Related Alleles and Function</th>
                <th>Warnings</th>
              </tr>
              </thead>
              <tbody>
              {{#each variantReports}}
                <tr id="{{chr}}_{{position}}" style="vertical-align: initial;">
                  <td>{{chr}}:{{position}}</td>
                  <td {{#if (thereAre dbSnpId) }}id="{{dbSnpId}}"{{/if}}>{{dbSnpId}}</td>
                  {{#if missing}}
                    <td class="missingVariant"><div class="callMessage">Missing</div></td>
                  {{/if}}
                  {{#unless missing}}
                    {{{variantAlleles this}}}
                  {{/unless}}
                  <td>
                    {{{referenceAllele this}}}
                  </td>
                  <td>
                    {{#if (thereAre alleles) }}
                      <ul class="noBullet mt-0 mb-0">
                        {{#each alleles}}
                          {{{amdAlleleFunction functionMap geneDisplay dbSnpId this}}}
                        {{/each}}
                      </ul>
                    {{/if}}
                  </td>
                  <td>
                    {{#if (thereAre warnings) }}
                      <ul class="warningList">
                        {{#each warnings}}<li>{{this}}</li>{{/each}}
                      </ul>
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          {{/if}}

          {{#if (thereAre variantOfInterestReports) }}
            <h4>Other Positions of Interest</h4>
            {{#each (amdExtraPositionNotes this) }}
              <div class="alert alert-warning">{{{this}}}</div>
            {{/each}}
            <table>
              <thead>
              <tr>
                <th>Position in VCF</th>
                <th>RSID</th>
                <th>Call in VCF</th>
              </tr>
              </thead>
              <tbody>
              {{#each variantOfInterestReports}}
                <tr>
                  <td id="{{chr}}_{{position}}">{{chr}}:{{position}}</td>
                  <td id="{{dbSnpId}}">{{dbSnpId}}</td>
                  {{#if missing}}
                    <td class="missingVariant"><em>missing</em></td>
                  {{/if}}
                  {{#unless missing}}
                    {{{variantAlleles this}}}
                  {{/unless}}
                </tr>
              {{/each}}
              </tbody>
            </table>
          {{/if}}

        {{/unless}}

      </section>
    {{/each}}

  </section>

  {{> "disclaimers"}}

</main>
</body>
</html>
